


<div class="typewriter_wrapper">
  <div class="inside">
    <span>Welcome To RedEmojis.com 😊</span>
    <div class='symbol'>|</div>
  </div>
</div>
<button id="replay">replay</button>

  <div class="container">
    <div id="about-section" class="section">
      <div class="row">
        <div class="col m8">
          
        










          <p id="about-me-text" class="right-align">
            Welcome to Red Emojis.. street art direct trade whatever cliche. Art party pop-up hoodie, narwhal keytar sustainable organic freegan umami fashion axe. Drinking vinegar semiotics shabby chic tacos vice bespoke, chia jean shorts authentic truffaut meh literally put a bird on it mlkshk art party.

            

          </p>
          <hr> -->
          <p id="qualifications" class="right-align">
            
           
            
         
           

        </div>
        <div class="col m4 center-align">
          



          


        </div>
      </div>
    </div>
    <br>
     
		<div id="portfolio-section" class="section">
			
      <div class="row">
        <div class="col m6 offset-m3 center-align">
          <h3 class="center-align">
            X-Audio Free Sample
          <%= audio_tag "bye.mov", class: "audio-play" %> 
           <p class="btn btn-lg audioButton">Play</p> 
          </h3>
          </div>
          </div>
          <br>
          <div class="row">
        <div class="col m6 offset-m3 center-align">
          <h2 class="center-align">
          Buy Today
          </h2>
          
        </div>
      </div>

	<div class="row">
        <% @products.each do |product| %>
        <div class="col s12 m6">
        
          <div class="card">
          <div style="display: inline-block; position: absolute; top: -11px; right: -11px; z-index: 10;">
          <!-- <img class="activator" src="https://s19.postimg.org/hu8uz903n/new-posts.png"> -->

          <%= image_tag("NB.png", :class => "activator") %>
        </div>
            <div class="card-image">
              <%= link_to image_tag(product.image.url, alt: ""), product_path(product) %>
                  
                 <span class="card-title"><%= product.title%></span>
            </div>


            <div class="card-content">
              <h5><%= product.subtitle%></h5>
            </div>
            <div class="card-action">
             <h4><%=  number_to_currency(product.price) %></h4>
            </div>
          </div>
       
        </div>
<% end %>
     </div>


            <!-- end of container -->
		</div>



       

		











		<div id="contact-section" class="section">
			<div class="row">
				<div class="col m12">
					<h2 class="center-align">Contact Me</h2>
					<hr>
				</div>
			</div>
			<div class="row">
				<form action="" class="col m5">
					<div class="row">
						<div class="input-field col m12">
							<input id="full_name" type="text" class="validate">
							<label for="first_name">Full Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col m12">
							<input id="email" type="email" class="validate">
							<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col m12">
							<textarea id="textarea1" class="materialize-textarea"></textarea>
							<label for="textarea1">Message</label>
						</div>
					</div>
				</form>
				<div class="col m5 offset-m2">
					<div class="row">
						<p>
							Thanks for visiting redemojis.com. Plese return for more excting emojis and products. If you have any questions pleae contact me.
						</p>
					</div>
					<div class="row">
						<p>
							I promise to reply A.S.A.P.
						</p>
					</div>
					<div class="row">
						<p>
							Note: No spam/soliciting pour moi, merci :)
						</p>
					</div>
				</div>
			</div>
		</div>


	</div>








	<footer class="page-footer red accent-4">
		<div class="container">
			<div class="row">
				<div class="center-align col-md-3">
					 <a class="footer-icon-link btn-floating waves-effect waves-light">
						 <i class="fa fa-facebook footer-icon" aria-hidden="true"></i>
					 </a>
					 <a class="footer-icon-link btn-floating waves-effect waves-light">
						 <i class="fa fa-twitter footer-icon" aria-hidden="true"></i>
					 </a>
					 <a class="footer-icon-link btn-floating waves-effect waves-light">
						<i class="fa fa-instagram footer-icon" aria-hidden="true"></i>
					 </a>
				</div>
			</div>


        



			<div class="row">
				<div class="center-align col-md-3">
					<p>Stay Tuned More To Come</p>
				</div>
			</div>
		</div>
	</footer>
	<footer id="second-footer" class="page-footer red accent-4">
		<div class="container">
			<div class="row">
				<div class="center-align col-md-3">
					<p>Amanda Bell &copy; 2017. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
  <script type="text/javascript">
   var wrap = document.getElementsByClassName("typewriter_wrapper")[0],
    txtEl = wrap.getElementsByTagName('span')[0],
    txt = txtEl.innerHTML,
    speed;

function typewriter() {

  // Delete old Text
  txtEl.innerHTML = "";
  
  var count = 0,
      len =  txt.length;
  
  var i = setInterval(function(){
    txtEl.innerHTML = txt.substr(0, count);
    count++;
    if(count === len + 1) {
      clearInterval(i);
    }
  }, 100) ;
}

document.getElementById("replay").addEventListener("click", function(){
    typewriter();
});

typewriter();
     



   </script>

  