<div class="container">
<div class="col s12 m8 ">
  <div class="card-panel grey lighten-5 ">
    <div class="row valign-wrapper">
      <div class="col s3 m2 l2">
       <%= image_tag "ab.png", class: "circle responsive-img"%>
      </div>
      <div class="col s9 m10 l10">
        <span class="black-text">
          <h4>Please complete your purchase</h4>
        </span>
      </div>
    </div>
  </div>
</div>
</div>




<div class="container">
    <div class="row">
      <div class="col s12 m8">
        <h4>You Selected </h4> <h3><%= @product.title %></h3>
          <div class="card-image">
            <%= link_to image_tag(@product.image.url, alt:""), product_path(@product) %>
           

        </div>
      </div>
      <div class="col s12 m4">
       <ul class="collapsible" data-collapsible="accordion">
    <li>


      <div class="collapsible-header active"><i class="material-icons">filter_drama</i><h4>Step 1</h4></div>
      <div class="collapsible-body"><h4>Complete your Purchase.</h3></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i><h4>Step 2</h4></div>
      <div class="collapsible-body"><h3>Download purchase from receipt.</h3></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i><h4>Step 3</h4> </div>
      <div class="collapsible-body"><h3>Unzip and copy your red emoji's over to your phone.</h3></div>
    </li>
  </ul>
        
      </div>
    </div>
<%= form_tag charges_path, id:'chargeForm' do %>

                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>

                  <script src="https://checkout.stripe.com/checkout.js"></script>
                  <%= hidden_field_tag 'stripeToken' %>
                  <%= hidden_field_tag 'amount',  (@product.price * 100).floor %>
                  <%= hidden_field_tag 'stripeEmail' %>
                  <%= hidden_field_tag 'product_id', @product.id %>

                   <button id="btn-buy" type="button" class="waves-effect waves-light btn-large"><h4>Buy Now</h4></button><br/>
<script>
    var handler = StripeCheckout.configure({
      key: '<%= ENV['STRIPE_PUBLIC_KEY'] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("chargeForm").submit();
      }
});
document.getElementById('btn-buy').addEventListener('click', function(e) {
      handler.open({
        name: 'Red Emojis',
        description: '<%= @product.title %> ($<%= @product.price %>)',
        amount: document.getElementById("amount").value
    });
    e.preventDefault();
   })
</script>
<% end %>



          </div>
          <footer class="page-footer red accent-4">
    <div class="container">
      <div class="row">
        <div class="center-align col-md-3">
           <a class="footer-icon-link btn-floating waves-effect waves-light">
             <i class="fa fa-facebook footer-icon" aria-hidden="true"></i>
           </a>
           <a class="footer-icon-link btn-floating waves-effect waves-light">
             <i class="fa fa-twitter footer-icon" aria-hidden="true"></i>
           </a>
           <a class="footer-icon-link btn-floating waves-effect waves-light">
            <i class="fa fa-instagram footer-icon" aria-hidden="true"></i>
           </a>
        </div>
      </div>


        



      <div class="row">
        <div class="center-align col-md-3">
          <p>Stay Tuned More To Come</p>
        </div>
      </div>
    </div>
  </footer>
  <footer id="second-footer" class="page-footer red accent-4">
    <div class="container">
      <div class="row">
        <div class="center-align col-md-3">
          <p>Amanda Bell &copy; 2017. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

