<!--header-->
        <div class="header">
            <div class="container">
                <div class="head">
                    <div class=" logo">
                        <a href="#"><%= image_tag("logo1.svg", :alt => "") %>

                    </div>
                </div>
            </div>
            <div class="header-top">
                <div class="container">
                    <div class="col-sm-5 col-md-offset-2  header-login">
                        <ul>
                            <% if(!user_signed_in?) %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% else%>
            <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %>&nbsp;
                    <%= current_user.name %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>


                  <%end%>
                        </ul>
                    </div>

                    <div class="col-sm-5 header-social">
                        <ul>
                            <li><a href="#"><i></i></a>
                            </li>
                            <li><a href="#"><i class="ic1"></i></a>
                            </li>
                            <li><a href="#"><i class="ic2"></i></a>
                            </li>
                            <li><a href="#"><i class="ic3"></i></a>
                            </li>
                            <li><a href="#"><i class="ic4"></i></a>
                            </li>
                        </ul>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>


            <div class="container">

                <div class="head-top">

                    <div class="col-sm-8 col-md-offset-2 h_menu4">
                        <nav class="navbar nav_bottom" role="navigation">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav nav_1">
                                    <li><a class="color" href="#">Home</a>
                                    </li>
                                    <li><a class="color4" href="#">About</a>
                                    </li>
                                    <li><a class="color6" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->

                        </nav>
                    </div>
                    <div class="col-sm-2 search-right">
                        <ul class="heart">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i></a>
                            </li>
                        </ul>
                        <div class="cart box_1">
                            <a href="#">
                                <h3> <div class="total">
							<span class="simpleCart_total"></span></div>
							<%= image_tag("cart.png", :alt => "") %></h3>

                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
                            </p>

                        </div>
                        <div class="clearfix"> </div>
